.container {
    margin-top: 50px;
}

/* NAVBAR */

.brand-logo {
    margin-left: 20px;
}

nav {
    margin-bottom: 35px;
 
}

/* LOGIN */

.gh-login {
    height: auto;
    vertical-align: middle;
}

/* INDEX */

.btn-index {
    display: block;
    text-align: center;
    margin: auto;
    width: 75%;
}

.header-index {
    margin: 50px;
}

/* NEW POLL */

#optionsButton {
    float: right;
    margin-top: 20px;
}

#submitButton {
    margin-top: 20px;
}

/* VIEW YOUR POLLS */

#poll-list {
    text-align: center;
    padding-top: 25px;
}

/* DISPLAY POLL */

.pollOption {
    text-align: center;
    color: #272727;
}

label {
    color: #272727;
}

.pollButtons {
    text-align: center;
}

#poll-author {
    padding-bottom: 20px;
}
#voteButton {
    margin: 10px;
}

#deleteButton {
    margin: 10px;
}

#options {
    font-size: 20px;
    margin-bottom: 20px;
}

span {
    margin-right: 15px;
    font-size: 1.25em;
    vertical-align: middle;
}

/* FOOTER */

#hidden {
    display: none;
}

footer {
    margin-top: 100px;
    padding-bottom: 30px;
}