extends layout

block content

	.row
		.col.l8.s12.offset-l2
			h1.header-index.center-align Welcome to YouVote!
			.col.s6
				a.waves-effect.waves-light.btn-large.btn-index(href="/newpoll") Make a new poll
			.col.s6
				a.waves-effect.waves-light.btn-large.btn-index(href="/viewpolls") View your polls