link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css")
link(rel="stylesheet" href="app.css")
title YouVote
.container
	header
		nav
			.nav-wrapper
				a(href="#").brand-logo YouVote
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href="collapsible.html") login
	
	block content
	
	footer.center-align
		p FreeCodeCamp BaseJump
			a(href="http://github.com/michael-krebs") Michael Krebs
				

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js")
