doctype html
meta(name='viewport', content='width=device-width, initial-scale=.75')
html.grey.lighten-5
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css")
	link(rel="stylesheet" href="public/css/app.css")
	title YouVote
	.container.z-depth-1.white
		header
			nav
				.nav-wrapper
					a(href="/").brand-logo YouVote
					ul#nav-mobile.right
						li
							a(href="/login") Login
		
		block content
		
		footer.center-align
			p FreeCodeCamp BaseJump | 
				| #[a(href="http://github.com/michael-krebs") Michael Krebs] | 
				a(href="http://github.com/dealpete") Peter Deal
				
					
	
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js")
		
	block javascript