extends layout

block content

    .center-align
    
        h2 YouVote
        
        a.waves-effect.waves-light.btn-large(href="/auth/github") #[img(src="/public/img/gh-mark-32px.png").gh-login] Login with github
        