extends layout

block content

	.row
		.col.l8.s10.offset-l2.offset-s1
			h3.center-align New Poll
			.input-field
				input(id="name" type="text")
				label(for="name") Poll Name
			#options-input.input-field
				input(placeholder="Option" type="text").option
				input(placeholder="Option" type="text").option
	.row
		.col.s6
			#optionsButton.btn.waves-effect.waves-light Add Option
		.col.s6
			#submitButton.btn.waves-effect.waves-light Submit

block javascript
	script(type="text/javascript" src="controllers/pollController.client.js")