extends layout

block content

    .row
        .col.l8.s12.offset-l2
            h3.center-align New Poll
            .input-field
                input(id="name" type="text")
                label(for="name") Poll Name
            #options-input.input-field
                input(placeholder="Option" id="option" type="text")
                input(placeholder="Option" id="option" type="text")
    .row
        .col.l2.offset-l5.s4.offset-s4
            #options.btn.waves-effect.waves-light Add Option
            .btn.waves-effect.waves-light Submit
            
script(src="app/controllers/newpoll.js")