extends layout

block content

  .row
    .col.l8.s10.offset-l2.offset-s1
      h3.center-align Your Polls
      #poll-list

block javascript
  script(type="text/javascript" src="controllers/viewPolls.js")